@import 'variables.css';

/* Boton de Login */
.button-login {
    background-color: var(--color-strong-pink); 
    border: none;
    border-radius: 8px;
    color: white ; 
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.button-login:hover {
    background-color: var(--color-dark-pink);
    box-shadow: 0 4px 15px rgba(255, 77, 141, 0.4);
}

/* Boton de filtro de catalogo */
.button-filter-waiting {
    border-color: var(--color-soft-pink);
    color: var(--color-soft-pink);
    
}
.button-filter-waiting:hover {
    background-color: var(--color-strong-pink);
    box-shadow: 0 4px 15px var(--color-translucent-pink);
}

.button-filter-selected {
    background-color: var(--color-dark-pink) !important; 
    color: white !important;
    border-color: var(--color-strong-pink);
    box-shadow: 0 4px 10px var(--color-translucent-pink);
}

/* Boton de pagina de catalogo */
.button-page {
    background-color: var(--color-strong-blue);
    color: var(--color-dark-blue);
    border-color: var(--color-dark-blue)
}
.button-page:hover {
    background-color: var(--color-soft-blue);
    box-shadow: 0 4px 15px var(--color-translucent-blue);
}

/* Boton User a Logeo */
.user-button {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 5px 15px 5px 5px; 
    border-radius: 50px; 
    border: 1px solid #eee;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(31, 85, 172, 0.1);
    color: #333;
}

.user-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--color-soft-blue);
    background: white;
    color: var(--color-dark-blue); 
}

.user-avatar-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden; /* Corta la imagen en circulo */
    margin-right: 10px;
    border: 2px solid white;
}

.user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Evita que la imagen se deforme */
}

.user-name {
    font-size: 0.9rem;
    font-weight: 600;
}

/* Boton de vista de admin */
.button-custom{
    letter-spacing: 1px;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.button-create-event {
    background-color: var(--color-strong-green); 
    color: white ; 
}

.button-create-event:hover {
    background-color: var(--color-dark-green);
    box-shadow: 0 4px 15px var(--color-translucent-green);
    color: black;
}

.button-create-event-selected {
    background-color: var(--color-dark-green);
    box-shadow: 0 4px 15px var(--color-translucent-green);
    color: black;
}

.button-create-event-selected:hover {
    background-color: var(--color-strong-green); 
    color: white;
    box-shadow: none;
}

.button-delete-event {
    background-color: var(--color-dark-pink); 
    color: white ; 
}

.button-delete-event:hover {
    background-color: var(--color-soft-pink);
    box-shadow: 0 4px 15px var(--color-translucent-pink);
    color: black;
}

.button-audit {
    background-color: #227e86; 
    color: white ; 
}

.button-audit:hover {
    background-color: var(--color-strong-blue);
    box-shadow: 0 4px 15px var(--color-translucent-blue);
    color: black;
}

.button-audit-selected {
    background-color: var(--color-strong-blue);
    box-shadow: 0 4px 15px var(--color-translucent-blue);
    color: black;
}

.button-audit-selected:hover {
    background-color: #227e86; 
    color: white;
    box-shadow: none;
}

.event-mod .button-create{
    background-color: var(--color-dark-green); 
    color: white ; 
}

.event-mod .button-create:hover {
    background-color: var(--color-soft-green);
    box-shadow: 0 4px 15px var(--color-translucent-green);
    color: black;
}

/*Boton de volver de los sectores de evento*/
.button-back {
    background: transparent;
    border: 2px solid var(--color-strong-pink);
    color: var(--color-strong-pink);
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}

.button-back:hover {
    background-color: var(--color-strong-pink);
    color: white;
    box-shadow: 0 4px 15px var(--color-translucent-pink);
}