:root {
  --color-background: #212529;
  --color-borders: #60656a;
  --color-text: #9fa5aa;
  --color-soft-pink: #ecacc7;
  --color-strong-pink: #ff4d8d ;
  --color-dark-pink: #e63e7a;
  --color-soft-blue: #94e6ee;
  --color-dark-blue: #54d4e0;
  --color-soft-green: #c6f388;
}